[submodule "Assets/UDBase"]
	path = Assets/UDBase
url=https://github.com/KonH/UDBase.git
[submodule "Tools/MarkdownGenerator"]
	path = Tools/MarkdownGenerator
url=https://github.com/KonH/MarkdownGenerator.git